.bg {
	background: url('../img/background.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 250px;
}

.max-lines {
	display: block;/* or inline-block */
	word-wrap: normal;
	overflow: hidden !important;
	max-height: 3.6em;
	line-height: 1.8em;
	text-overflow: ellipsis;
}

.btn-gray {
    background-color: #f8f9fa;
    color: #333;
}

.btn-outline-gray {
    color: #f8f9fa;
    background-color: transparent;
    background-image: none;
    border-color: #f8f9fa;
}

.border-gray {
    border-color: #f8f9fa !important;
}